<!DOCTYPE html>
<html ng-app="loja">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Sistema em AngularJS</title>
    <script type="text/javascript" src="resources/script/angular.min.js"></script>
    <script type="text/javascript" src="resources/script/angular-route.js"></script>
    <script type="text/javascript" src="resources/script/angular-route.min.js"></script>
    <script type="text/javascript" src="resources/script/angular-resource.js"></script>
    <script type="text/javascript" src="resources/script/primeiroController.js"></script>
</head>

<body id="corpo" ng-controller="controllerPessoa">
    <input type="text" ng-value="100" ng-model="codPessoa">
    <br/>
    <br/>
    <button ng-click="getPorId();">Buscar por Id</button>
    <br/>
    <br/>
    <button ng-click="getPorTodos();">Buscar por todos</button>
    <br/>
    <br/>
    <button ng-click="salvarPessoa();">Salvar Pessoa</button>    
    <br/>
    <br/>
    <button ng-click="deletarPessoa();">Deletar Pessoa</button> 
    <br/>
    <br/>
    <h1>{{objetoPessoa}}</h1>


</body>

</html>